footer.footer
  .container
    span.text-muted Place sticky footer content here.
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
script.
  window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/jquery-slim.min.js"><\\/script>')
script(src='https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js')
script(src='https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js')