extends partials/header

block content
  // Begin page content
  main.container(role='main')
    h1.mt-5 Page 4
    p.lead Okay, but honestly this was just to get an Express app running on Netlify. This page wasn't meant to do anything. It was meant to be impressive just by loading. Yeah. Um. That's it.
    p
      | Back to 
      a(href='/') the hompage
      |  if you want to live. I mean if you want to live well. Like maximize your quality of life. Not a threat. I'm going to stop talking now. I'm thinking about dating her anyway.
  include partials/footer
    