extends partials/header

block content
  // Begin page content
  main.container(role='main')
    h1.mt-5 Page 3
    p.lead Welcome to Page 3. You are now experiencing an MVC web application on Netlify. Pretty cool!
    p
      | Back to 
      a(href='/') the hompage
      |  if you want to live. I mean if you want to live well. Like maximize your quality of life. Not a threat. I'm going to stop talking now. Also I have a crush on a 31 year old girl 8 years older than me. Awkward.
  include partials/footer
    